<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>SbiNetBanking</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginValidation</display-name>
		<servlet-name>LoginValidation</servlet-name>
		<servlet-class>LoginValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginResult</display-name>
		<servlet-name>LoginResult</servlet-name>
		<servlet-class>LoginResult</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterValidation</display-name>
		<servlet-name>RegisterValidation</servlet-name>
		<servlet-class>RegisterValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePwdValidation</display-name>
		<servlet-name>ChangePwdValidation</servlet-name>
		<servlet-class>ChangePwdValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BalanceValidation</display-name>
		<servlet-name>BalanceValidation</servlet-name>
		<servlet-class>BalanceValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Balance</display-name>
		<servlet-name>Balance</servlet-name>
		<servlet-class>Balance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransferValidation</display-name>
		<servlet-name>TransferValidation</servlet-name>
		<servlet-class>TransferValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SbiTransfer</display-name>
		<servlet-name>SbiTransfer</servlet-name>
		<servlet-class>SbiTransfer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginValidation</servlet-name>
		<url-pattern>/LoginValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginResult</servlet-name>
		<url-pattern>/LoginResult</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterValidation</servlet-name>
		<url-pattern>/RegisterValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePwdValidation</servlet-name>
		<url-pattern>/ChangePwdValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BalanceValidation</servlet-name>
		<url-pattern>/BalanceValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Balance</servlet-name>
		<url-pattern>/Balance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferValidation</servlet-name>
		<url-pattern>/TransferValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SbiTransfer</servlet-name>
		<url-pattern>/SbiTransfer</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>HomePage.html</welcome-file>
	</welcome-file-list>
</web-app>
